.intro {
  background-color: white;
  display: flex;

  .left {
    flex: 0.5;
    scrollbar-width: none; // for firefox
    &::-webkit-scrollbar {
      display: none;
    }
    position: relative;

    .imgContainer {
      width: 650px;
      height: 650px;
    //   background-color: crimson;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;
      scrollbar-width: none; // for firefox
      &::-webkit-scrollbar {
        display: none;
      }
       

    }
    

    img {
        // width: 700px;
        // height: 700px;
        // object-fit: cover;
        height: 100%; 
        width: 100%;
        // border-radius: 50%;
        // object-position: 50% 50%;
        object-fit: cover;
        // width: 100%;
    //   position: relative;
    //   background-size: cover;
    }
  }

  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 60px;
        margin: 10px 0;
      }

      h2 {
        font-size: 35px;
      }

      h3 {
        font-size: 30px;

        span {
            font-size: inherit;
            color: crimson;
        }

        .ityped-cursor {
            animation: blink 1s infinite;
        }

        @keyframes blink {
            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
            
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 40%;

      .icon {
        font-size: 50px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
